
  <nav class="navbar navbar-inverse" id="main-menu">
    <div class="navbar-header">
      <a href="/"><img src="/images/Treasure-Hunt-logo.png" id="treasure-hunt-logo-menu"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/game">Play Game</a></li>
      <li><a href="/wall">Wall of Fame</a></li>
      <li><a href="/newgame">Build New Game</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/login">Contact</a></li>
    </ul>
  </nav>


