<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>  

  </head>
  <body>

    <% include partials/scripts %>
    <% include partials/nav %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


  </body>
</html>
