<p>Hello </p>

<% 
        var i = 0;
        quiz.QnA.forEach( function( question ){  

          //console.log(++i + " ------------------------------------ ");
          //console.log(question["Question"]);

        });      %>

  
<script type='text/javascript'>
  var quizData =<%-JSON.stringify(quiz)%>

</script>


<script>
    console.log(quizData.QnA[0]);
</script>

